# Assignment : 05 (4th Feb'2023)

1. * Here's an example of sorting a list of tuples based on the integer value of the second element in each tuple using a `lambda` function.

In [6]:
def sort_list_of_tuples(lst):
    return sorted(lst, key=lambda x: x[1])

list_of_tuples = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted_list = sort_list_of_tuples(list_of_tuples)
print(sorted_list)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

2. * Here's a Python program to find the squares of all the numbers in the given list of integers using `lambda` and `map` functions :

In [5]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

3. * Here's a Python program to convert the given list of integers into a tuple of strings using `map` and `lambda` functions :

In [4]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple_of_strings = tuple(map(lambda x: str(x), numbers))
print(tuple_of_strings)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

4. * Here's a Python program to compute the product of a list containing numbers from 1 to 25 using the `reduce` function :

In [7]:
from functools import reduce

numbers = [i for i in range(1, 26)]
product = reduce(lambda x, y: x * y, numbers)
print(product)

15511210043330985984000000

5. * Here's a Python program to filter the numbers in a given list that are divisible by 2 and 3 using the `filter` function :

In [9]:
numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

divisible_by_2_and_3 = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, numbers))
print(divisible_by_2_and_3)

[6, 60, 90, 120]

6. * Here's a Python program to find palindromes in the given list of strings using `lambda` and `filter` functions :

In [11]:
strings = ['python', 'php', 'aba', 'radar', 'level']

palindromes = list(filter(lambda x: x == x[::-1], strings))
print(palindromes)

['php', 'aba', 'radar', 'level']